@model List<ResultSocialMediaDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Sosyal Medya Hesap Linkleri Yönetimi</h4>
                        <p class="card-subtitle mb-4">
                            Kullandığınız sosyal medya hesaplarına ait bilgileri yönetebileceğiniz sayfadır. Yeni bir sosyal medya ekleyebilir, mevcut sosyal medya hesaplarınızı silebilir veya düzenleyebilirsiniz.
                        </p>
                        <a href="/Admin/AdminSocialMedia/CreateSocialMedia/" class="btn btn-outline-secondary mb-2"><i class="mdi mdi-plus">Yeni Sosyal Medya Girişi</i></a>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Başlık</th>
                                        <th>Icon</th>
                                        <th>URL</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Aç</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Name</td>
                                            <td><i class="@item.Icon fa-2x"></i></td>
                                            <td>@item.Url</td>
                                            <td><a href="/Admin/AdminSocialMedia/RemoveSocialMedia/@item.SocialMediaID" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminSocialMedia/UpdateSocialMedia/@item.SocialMediaID" class="btn btn-outline-success">Güncelle</a></td>
                                            <td><a href="/Admin/AdminSocialMedia/UpdateSocialMedia/@item.SocialMediaID" class="btn btn-outline-dark">Aç</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

