@model List<ResultFooterAddressDto>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

   
@foreach(var item in Model)
{
    <footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>book</span></a></h2>
                    <p>@item.Description</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Hızlı Erişim</h2>
                    <ul class="list-unstyled">
                        <li><a href="/About/Index/" class="py-2 d-block">Hakkımızda</a></li>
                        <li><a href="/Car/Index/" class="py-2 d-block">Hizmetlerimiz</a></li>
                            <li><a href="javascript:void(0)" class="py-2 d-block" onclick="Swal.fire({title:'Şartlar & Koşullar', text: 'Araba kiralama sürecine dair tüm hizmet koşullarına rezervasyonun fiziki olarak gerçekleştirileceği ofislerimizde yer alan anlaşma dökümanlarından ulaşabilirsiniz. Bütün sürecin hasar, ceza, geçişler (HGS) ile ilgili detayla yer almaktadır. Keyifli yolculuklar dileriz.'})">Şartlar ve Koşullar</a></li>
                            <li><a href="#" class="py-2 d-block" onclick="Swal.fire({title:'Güvenlik', text: 'CarBook web sitemiz AspNet Core teknolojisinde Sha256 şifreleme tekniğiyle verilerin tamamen şifreli olarak tutulması alt yapısına sahiptir. Sistemimizde JWT Doğrulaması yapılmaktadır. Kullanıcılarımızın ödeme yaptıkları kart bilgileri sistemde kesinlikle saklanmamaktadır. TC. Kimlik Numarası, Mail Adresi ve telefon bilgileri gibi gibi bilgiler ise şifrelenerek tutulmaktadır.'})">Güvenlik</a></li>
                            <li><a href="#" class="py-2 d-block" onclick="Swal.fire({title:'Çerez Politikası', text: 'Sizlere daha iyi hizmet verebilmek adına tarayıcı çerezlerini kullanmaktayız.'})">Çerez Politikası</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Müşteri Desteği</h2>
                    <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block" onclick="Swal.fire({title:'Sıkça Sorulan Sorular', text: 'Sistem ile ilgili sıkça sorulan sorular yer almaktadır.'})">Sıkça Sorulanlar</a></li>
                            <li><a href="#" class="py-2 d-block" onclick="Swal.fire({title:'Ödeme Yöntemleri', text: 'Ödeme işlemleri yalnızca fiziki lokasyonlarımızda kiralama noktalarında kart ile yapılmaktadır.'})">Ödeme Yöntemleri</a></li>
                        <li><a href="/CarPricing/Index/" class="py-2 d-block">Kiralama</a></li>
                            <li><a href="#" class="py-2 d-block" onclick="Swal.fire({title:'Nasıl Çalışır?', text: '1.Adım Aracınızı Kiralayın \n 2.Adım Mailinizi kontrol edin. \n 3.Adım Ofisimizi ziyaret edin'})">Nasıl Çalışır</a></li>
                        <li><a href="/Contact/Index/" class="py-2 d-block">Bize Ulaşın</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Sorularınız İçin</h2>
                    <div class="block-23 mb-3">
                        <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">@item.Address</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">@item.Phone</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">@item.Email</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>

}

<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


