@model UpdateBrandDto

@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Araç Girişi</h4>
                        <p class="card-subtitle mb-4">Veri girişinden sonra kaydet butonuna tıklayarak işlemi tamamlayabilirsiniz. İşlem anında hata ile karşılaşmanız durumunda, altta çıkan hata yönergelerini dikkate alıp tekrar veri girişi yapmayı deneyebilirsiniz. Çözüm sağlanamadığı takdirde her zaman bizimle iletişime geçebilirsiniz.</p>

                        <form method="post" asp-action="UpdateBrand" asp-controller="AdminBrand">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="hidden" asp-for="BrandId" />
                                        <label for="exampleInputBrandName">Marka Adı</label>
                                        <input type="text" class="form-control" id="exampleInputBrandName" asp-for="Name" placeholder="Marka adını giriniz">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                            <a href="/AdminBrand/Index/" class="btn btn-dark waves-effect waves-light">İptal</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
