@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">

<!-- App css -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/theme.min.css" rel="stylesheet" type="text/css" />

<div class="page-content">
    <div class="container-fluid">      
        @await Component.InvokeAsync("_AdminDashboardStatisticsComponentPartial")
        <div class="row">
            @await Component.InvokeAsync("_AdminDashboardChart1ComponentPartial")
            @await Component.InvokeAsync("_AdminDashboardChart2ComponentPartial")
            @await Component.InvokeAsync("_AdminDashboardChart3ComponentPartial")
        </div>
        <div class="row">
            @await Component.InvokeAsync("_AdminDashboardCarPricingListComponentPartial")
            @await Component.InvokeAsync("_AdminDashboardBlogListComponentPartial")
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                2019 © Xacton.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    Design & Develop by Myra
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="~/Admin/vertical/assets/js/jquery.min.js"></script>
<script src="~/Admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/vertical/assets/js/metismenu.min.js"></script>
<script src="~/Admin/vertical/assets/js/waves.js"></script>
<script src="~/Admin/vertical/assets/js/simplebar.min.js"></script>

<!-- Morris Js-->
<script src="~/Admin/plugins/morris-js/morris.min.js"></script>
<!-- Raphael Js-->
<script src="~/Admin/plugins/raphael/raphael.min.js"></script>

<!-- Morris Custom Js-->
<script src="~/Admin/vertical/assets/pages/dashboard-demo.js"></script>

<!-- App js -->
<script src="~/Admin/vertical/assets/js/theme.js"></script>

