@model UpdateFeatureDto

@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Araç Özelliği Bilgisi Güncelleme</h4>
                        <p class="card-subtitle mb-4">Veri girişinden sonra kaydet butonuna tıklayarak işlemi tamamlayabilirsiniz. İşlem anında hata ile karşılaşmanız durumunda, altta çıkan hata yönergelerini dikkate alıp tekrar veri girişi yapmayı deneyebilirsiniz. Çözüm sağlanamadığı takdirde her zaman bizimle iletişime geçebilirsiniz.</p>

                        <form method="post" asp-action="UpdateFeature" asp-controller="AdminFeature">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="hidden" asp-for="FeatureId" />
                                        <label for="exampleInputFeatureName">Özellik Adı</label>
                                        <input type="text" class="form-control" id="exampleInputFeatureName" asp-for="Name" placeholder="Özellik adını giriniz">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                            <a href="/Admin/AdminFeature/Index/" class="btn btn-dark waves-effect waves-light">İptal</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
